@import "tailwindcss";

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #171717;
  --brand-blue: #2D72D2;
  --brand-green: #29A347;
  --brand-text: #374151;
  --brand-red: #ef4444; /* red-500 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-blue: var(--brand-blue);
  --color-brand-green: var(--brand-green);
  --color-brand-text: var(--brand-text);
  --color-brand-red: var(--brand-red);
}

body {
  background: var(--background);
  color: var(--foreground);
}